<section class="hero">
    <video class="hero__video" autoplay loop muted playsinline poster="/images/heroPoster.jpg">
        <source src="/video/hero.mp4" type="video/mp4" />
    </video>

    <div class="hero__overlay"></div>

    <div class="container hero__container">
        <h1 class="hero__title">
            Строительная компания<br />
            "РСК"
        </h1>
        <p class="hero__subtitle">Уверенный взгляд в будущее</p>

        <a href="/#about" class="hero__arrow" aria-label="Прокрутить вниз">
            <svg
                width="55"
                height="45"
                viewBox="0 0 24 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M2 2L12 12L22 2"
                    stroke="white"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                />
            </svg>
        </a>
    </div>
</section>
