.footer {
    background-color: #ffffff;
    padding: 25px 0;
    margin-top: auto;
}

.footer__container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer__copy {
    font-size: 14px;
    color: "black";
    font-weight: 400;
    letter-spacing: 0.2px;
    margin-left: 110px;
}
