<section id="about" class="about">
    <div class="about__left">
        <div class="about__content">
            <h2 class="about__title">О НАС</h2>
            <div class="about__line"></div>
            <div class="about__text">
                <p>
                    ООО "РСК" — динамично развивающаяся строительная компания, способная
                    реализовывать самые сложные и современные проекты.
                </p>
                <p>
                    Компания является многолетним подрядчиком таких известных игроков, как АО
                    «Воскресенский домостроительный комбинат» и концерн «ЮИТ».
                </p>
                <p>
                    Компания располагает современным оборудованием и профессиональным инструментом.
                </p>
                <p>
                    При выполнении работ на объекте, используются только качественные материалы.
                    Нашими поставщиками, на протяжении долгих лет, являются известные на российском
                    рынке производители: кирпичные заводы "КЕРМА" и "НОРСКИЙ", Пошехонский гипсовый
                    завод "БОНОЛИТ", ДСК "ГРАС", "КЕРАМА МАРАЦЦИ" и другие.
                </p>
            </div>
        </div>
    </div>

    <div class="about__right" aria-label="Строительный объект РСК"></div>
</section>
