<section class="stats">
    <div class="container stats__container">
        <div class="stats__item">
            <span class="stats__number">46</span>
            <p class="stats__text">
                Завершенных<br />
                проектов
            </p>
        </div>

        <div class="stats__divider" aria-hidden="true"></div>

        <div class="stats__item">
            <span class="stats__number">20</span>
            <p class="stats__text">
                Строительных<br />
                подрядов
            </p>
        </div>
    </div>
</section>
