<section class="contacts" id="contacts">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title">КОНТАКТЫ</h2>
            <div class="section-underline" aria-hidden="true"></div>
        </header>

        <div class="contacts__content">
            <div class="contacts__map-wrapper">
                <iframe
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A04a64e2c57728151901650df1986dcc0f745ca8a5e5e5b7205c7db7e7ef32f58&amp;source=constructor"
                    class="contacts__map"
                    title="Карта проезда к центральному офису ООО РСК: г. Москва, Электродный проезд, д. 6"
                    loading="lazy"
                    frameborder="0"
                    allowfullscreen="true"
                ></iframe>
            </div>

            <div class="contacts__info">
                <h3 class="contacts__subtitle">Центральный офис</h3>

                <address class="contacts__address">
                    Россия, 111123, г. Москва,<br />
                    Электродный проезд, д. 6, 4 этаж, офис 59, комната 1
                </address>

                <div class="contacts__list">
                    <p class="contacts__item">
                        <span class="contacts__link">тел/факс:</span>
                        <a href="tel:+74999480464" class="contacts__link">8 (499) 962-62-63</a>
                    </p>
                    <p class="contacts__item">
                        <span class="contacts__link">E-mail:</span>
                        <a href="mailto:KontanistovAD@mail.ru" class="contacts__link"
                            >KontanistovAD@mail.ru</a
                        >
                    </p>
                    <p class="contacts__item">
                        <span class="contacts__link">E-mail:</span>
                        <a href="mailto:RSKsnb@mail.ru" class="contacts__link">RSKsnb@mail.ru</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
